<div class="container align-content-center">
  <div class="row">
    <div class="col">
      {{tweet.user_id}}
    </div>
    <div class="col">
      {{tweet.course_id}}
    </div>
    <div class="col">
      {{tweet.timestamp}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      {{tweet.content}}
    </div>
  </div>
</div>
